<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ems.employeemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeManagement">
        <activity android:name="com.ems.employeemanagement.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ems.employeemanagement.attendance" />
        <activity android:name="com.ems.employeemanagement.Menu" />
        <activity android:name="com.ems.employeemanagement.EmployeeRecord" />
        <activity android:name="com.ems.employeemanagement.signup" />
        <activity android:name="com.ems.employeemanagement.MainActivity" />
    </application>

</manifest>